@import "normalize.css";

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
}
a {
    color: #eee;
}

h1 {
    display: inline-block;
    color: #111;
    background: #fff;
    padding: 8px 16px;
    border: 6px solid #f00;
    text-transform: uppercase;
    text-align: center;
    font-size: 68px;
    font-family: 'bebas_neuebold', sans-serif;
    letter-spacing: -1px;
}

.container {
    width: 100%;
    padding: 0 30px;
    min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
    overflow: hidden;
}
.shocking-title {
    margin-top: 120px;
}
.hint {
    font-size: 16px;
    margin: 30px 0;
}
.disclaimer {
    font-size: 12px;
    color: #999;
    margin-top: 60px;
    font-size: 13px;
}
.footer-push {
    height: 100px;
}
.footer {
    height: 100px;
    padding: 30px 0;
    background: #222;
    text-align: center;
    font-size: 12px;
    color: #999;
}
